{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 90,
  "tabWidth": 2,
  "jsxBracketSameLine": false,
  "objectCurlySpacing": true,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "always"
}
