$img-size: 39px;

.article {
    width: 100%;
    height: 100%;
}

.videoContainer {
    aspect-ratio: 16 / 9;

    iframe {
        width: 100%;
        height: 100%;
    }
}

.videoInfoContainer {
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    width: 100%;
    padding: 16px 19.5px;
    gap: 12px;

    .imgBox {
        box-sizing: border-box;
        flex-shrink: 0;
        width: $img-size;
        height: $img-size;

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .infoBox {
        flex-grow: 1;
        min-width: 0;

        & > span {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
        }
    }

    button {
        flex-shrink: 0;
        margin-left: auto;
    }
}
