$white: var(--white);

.nav {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    background-color: $white;

    &.transparent {
        background-color: transparent;
    }

    ul {
        display: flex;
        padding-left: 0;

        li {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }

    .hide {
        display: none;
    }

    &.home {
        z-index: var(--header-zindex);
        padding: 0 24px;
    }
}

.container {
    justify-content: space-between;
    width: inherit;
    height: inherit;
    margin: 0;

    li.logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
    }

    ul.right {
        display: flex;
        gap: 18px;
        align-items: center;
    }

    li.right {
        margin-left: auto;

        a {
            text-decoration: none;
        }
    }
}
