$white: var(--white);

.nav {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    background-color: $white;

    &.transparent {
        background-color: transparent;
    }

    ul {
        display: flex;
        padding-left: 0;

        li {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }

    .hide {
        display: none;
    }
}

.container {
    align-items: center;
    justify-content: space-between;
    width: inherit;
    height: inherit;
    margin: 0;

    ul.left {
        & > li:first-child {
            margin-right: 12.5px;
        }
    }

    li.logo {
        height: fit-content;
        transform: translateY(2px);
    }

    ul.right {
        display: flex;
        gap: 13px;
        align-items: center;
    }

    li.right {
        margin-left: auto;

        a {
            transform: translateY(2px);
            text-decoration: none;
        }
    }
}
