.container {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    padding: 15px 19px;
    border-radius: 10px;
    gap: 11.5px;
    background-color: var(--gray100);

    input {
        flex-grow: 1;
        height: 100%;
        margin-left: 2px;
        border: none;
        border-radius: 0;
        outline: inherit;
        background-color: inherit;
        color: var(--black);
        font-size: 16px;

        &::placeholder {
            color: var(--gray400);
        }
    }

    button {
        svg {
            vertical-align: top;
        }
    }

    /* input[type:search] x 버튼 없애기 */

    /* IE의 경우 */
    input::-ms-clear,
    input::-ms-reveal {
        display: none;
    }

    /* 크롬의 경우 */
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration {
        display: none;
    }
}
