.layout {
    position: relative;

    & nav,
    .searchWrapper {
        position: relative;
        z-index: var(--header-zindex);
    }

    .searchWrapper {
        position: absolute;
        top: 8px;
        box-sizing: border-box;
        width: 100%;
        padding: 0 var(--default-padding);
    }
}
