.main {
    .withdrawalAgreement {
        box-sizing: border-box;
        height: 250px;
        margin-bottom: 15px;
        padding: 16px 8px;
        overflow: scroll;
        border: 1px solid var(--gray100);
        border-radius: 10px;
        color: var(--gray600);
        font-size: 14px;
    }

    input {
        display: none;
    }

    label {
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 7px;
    }
}
