.container {
  position: relative;

  &.favorite {
    width: 93px;
  }

  &.profile {
    width: 100%;
  }

  .selectedValue {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.favorite {
      width: 93px;
      padding: 4px 8px;
      border-radius: 8px;
      background-color: var(--gray100);
      font-size: 14px;
    }

    &.profile {
      box-sizing: border-box;
      width: 100%;
      max-width: 327px;
      height: 48px;
      padding: 8px 16px;
      border: 1px solid var(--gray300);
      border-radius: 8px;
    }
  }

  .menu {
    position: absolute;
    z-index: 3;
    border-radius: 8px;

    &.favorite {
      top: 34px;
      width: 93px;
      border: 1px solid var(--gray200);
      background-color: var(--gray100);
      color: var(--tertiary-400);
    }

    &.profile {
      top: 53px;
      width: 100%;
      max-width: 327px;
      border: 1px solid var(--gray200);
      border-radius: 8px;
      background-color: var(--white);
    }

    .item {
      &.favorite {
        padding: 4px 8px;
        border-bottom: 1px solid var(--gray200);
        font-size: 14px;
      }

      &.profile {
        padding: 14.5px 16px;
        border-bottom: 1px solid var(--gray200);

        &:hover {
          background-color: var(--gray100);
        }
      }

      &:last-child {
        border: none;
      }
    }

    label {
      display: block;
      width: 100%;
      height: 100%;
      color: var(--gray400);
      font-size: 16px;

      &.favorite {
        font-size: inherit;
      }
    }

    .input[type="radio"] {
      display: none;
    }
  }
}
