.wrapper {
  position: fixed;
  z-index: 1;
  right: 8%;
  bottom: 10%;

  button {
    padding: 5px;
    border: 1px solid var(--gary200);
    background-color: var(--white);
    cursor: pointer;
  }
}
