.mainContainer {
  position: relative;

  .recommendWrapper {
    position: relative;
    z-index: 5;

    & > span {
      padding: 0 var(--default-padding);
    }
  }

  .productListContainer {
    padding: 0 var(--default-padding) 80px;
  }

  .recommendListContainer {
    padding: 0 var(--default-padding) 80px;
  }

  .hotItemContainer {
    padding: 0 var(--default-padding) 80px;
  }
}
