.mainContainer {
  .recommendWrapper {
    & > span {
      padding: 0 var(--default-padding);
    }
  }

  .productListWrapper {
    padding: 0 var(--default-padding) 80px;

    .productArticleWrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
    }
  }
}
