/* stylelint-disable selector-class-pattern */
.container {
  position: relative;

  // img {
  //   width: auto;
  //   margin: 0 auto;
  // }

  .dotsCustom {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }

  .dotsCustom li {
    display: inline-block;
    margin: 0 6px;
    cursor: pointer;
  }

  .dotsCustom li button {
    display: block;
    width: 16px;
    height: 8px;
    border-radius: 8px;
    background: var(--gray200);
    color: transparent;
    cursor: pointer;
  }

  .dotsCustom li.slick-active button {
    width: 24px;
    border-radius: 8px;
    background-color: var(--primary500);
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}
