.input[type="radio"] {
  display: none;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.label.gender {
  height: 48px;
  border-radius: 8px;
}

.input[type="radio"] + .label.gender {
  border: 1px solid var(--gray-100);
  background-color: var(--white);
  color: var(--gray-300);
}

.input[type="radio"]:checked + .label.gender {
  background-color: var(--primary);
  color: var(--white);
}

.label.ageGroup {
  height: 47px;
  border-radius: 30px;
}

.label.additionalInfo {
  height: 60px;
  border-radius: 10px;
}

.input[type="radio"] + .label.ageGroup,
.input[type="radio"] + .label.additionalInfo {
  background-color: var(--white-100);
  color: var(--gray-300);
}

.input[type="radio"]:checked + .label.ageGroup,
.input[type="radio"]:checked + .label.additionalInfo {
  background-color: var(--primary);
  color: var(--white-100);
}

.label.filter {
  height: 32px;
  border: 6px;
  border-radius: 6px;
}

.input[type="radio"] + .label.filter {
  border: 1px solid var(--tertiary);
  background-color: var(--white);
  color: var(--tertiary);
}

.input[type="radio"]:checked + .label.filter {
  border: none;
  background-color: var(--primary);
  color: var(--white);
}
