.input[type="radio"] {
  display: none;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.label.gender {
  height: 48px;
  border-radius: 8px;
}

.input[type="radio"] + .label.gender {
  border: 1px solid var(--gray200);
  background-color: var(--white);
  color: var(--gray200);
}

.input[type="radio"]:checked + .label.gender {
  background-color: var(--primary500);
  color: var(--white);
}

.label.ageGroup {
  height: 47px;
  border-radius: 30px;
}

.label.additionalInfo {
  height: 60px;
  border-radius: 10px;
}

.input[type="radio"] + .label.ageGroup,
.input[type="radio"] + .label.additionalInfo {
  background-color: var(--gray100);
  color: var(--gray400);
}

.input[type="radio"]:checked + .label.ageGroup,
.input[type="radio"]:checked + .label.additionalInfo {
  background-color: var(--primary500);
  color: var(--white);
}

.label.filter {
  height: 32px;
  border-radius: 6px;
  font-size: 14px;
}

.input[type="radio"] + .label.filter {
  border: 1px solid var(--gray400);
  background-color: var(--white);
  color: var(--gray400);
}

.input[type="radio"]:checked + .label.filter {
  border-color: var(--primary500);
  background-color: var(--primary500);
  color: var(--white);
}

.label.product {
  height: 36px;
}

.input[type="radio"]:checked + .label.product {
  border-bottom: 1.5px solid var(--gray900);
}
