.title {
  margin-left: 15px;
}

.field {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 8px 16px;
  border: 1px solid var(--gray-100);
  border-radius: 8px;
  outline: none;
  color: var(--tertiary);
  font-size: 16px;
}
