.confirmation {
    position: fixed;
    z-index: var(--bottomnav-zindex);
    box-sizing: border-box;
    width: 100%;

    .confirmationContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}
