.productArticleContainer {
  padding: 0;
}

.refreshButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: 20px;
}

.refreshButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 117px;
  height: 44px;
  border: 1px solid rgb(0 0 0 / 5%);
  border-radius: 999px;
  background: var(--grayscale-white, #fff);
}

.more {
  margin-left: 4px;
}
