.loginDescriptionWrapper {
  padding: 0 24px;
}

.titleWrapper {
  padding: 16px 24px;
}

.nameWrapper {
  padding: 16px 24px;
}

.linkInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 24px;
}
