.headerTitleContainer {
    box-sizing: border-box;
    padding: 23px var(--default-padding) 12px;
    box-shadow: inset 0 0 10px red;
}

.main {
    margin-bottom: 88px;

    .filterBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 8px 0 var(--default-padding);
    }

    .productArticleContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }
}
