.container {
  position: fixed;
  z-index: var(--bottomnav-zindex);
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 18px 35px;
  background-color: var(--white);

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 45px;
      gap: 4.5px;
    }
  }
}
